
@media screen and (min-width:350px){
    body{
    display: flex;

}
main{
    display: flex;
    background-color: lightyellow;
flex-direction: column-reverse;
 width:400px;
    color: rgb(92, 63, 63);
    font-size: 1.5em;
    border-radius: 20px;
align-items: center;
margin: 0 auto;
}
.text{
padding: 40px;
text-align: start;
align-items: center;
}

.img1{
        padding: 20px;
display: flex;
justify-content: center;

}
img{
    width: 350px;
}
}

@media screen and (min-width:576px){
    body{
    display: flex;

}
main{
    display: flex;
    background-color: lightyellow;
flex-direction: column-reverse;
 width:576px;
    color: rgb(92, 63, 63);
    font-size: 1.5em;
    border-radius: 20px;
align-items: center;
margin: 0 auto;
}
.text{
padding: 40px;
text-align: start;
align-items: center;
}

.img1{
        padding: 20px;
display: flex;
justify-content: center;

}
img{
    width: 520px;
}
}


@media screen and (min-width:1441px){
    body{
    display: flex;
  
   
}
main{
    display: flex;
    background-color: lightyellow;
     flex-direction: row;
 width:1500px;
    color: rgb(92, 63, 63);
    font-size: 1.5em;
    border-radius: 20px;
    margin: 0 auto;
}
.text{
padding-left: 40px;
justify-content: center;

}

.img1{
        padding: 20px;

}
img{
    width: 700px;
}
}

